// variables

$primary: #DEB887;
$secondary: #181CE5;
$theme: #ff7777;
$txt: #585858;
$white: #fff;

@font-face {
    font-family:Cinzel-VariableFont_wght;
    src: url('../fonts/Cinzel-VariableFont_wght.ttf');
}



* {
    font-family:Cinzel-VariableFont_wght !important;
}


 
@media(max-width:992px){
    .col-lg-6{
      width: 100%;
    }
  }
 